[Unit]
Description=Configure birdie system for current user
After=bazzite-user-setup.service

[Service]
Type=simple
ExecStart=/usr/libexec/birdie-user-setup

[Install]
WantedBy=default.target